.button-main-header {
    -fx-text-fill: "#E9E9E9";
    -fx-font-size: 16px;
    -fx-pref-height: 40px;
    -fx-alignment: "center";
    -fx-background-color: "#343435";
    -fx-background-radius: 0px;
}

.button-main-header:hover {
    -fx-text-fill: "#E9E9E9";
    -fx-background-color: "#4f4f4f";
}

.button-main-header-active {
    -fx-text-fill: "#343435";
    -fx-background-color: "#E9E9E9";
    -fx-background-radius: 0px;
}

.button-main-header:focused {
    -fx-text-fill: "#343435";
    -fx-background-color: "#E9E9E9";
    -fx-background-radius: 0px;
}

.button-iomonitor-toolbar {
    -fx-background-color: "#D4D4D4";
    -fx-background-radius: 0px;
}

.button-iomonitor-toolbar:hover {
    -fx-background-color: "#4f4f4f";
    -fx-background-radius: 0px;
}